#!/usr/bin/env python

PACKAGE = "libfreenect2_ros_grabber"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("enabled", bool_t, 0, "Enable/disable KinectV2 ", True)

# Second arg is node name it will run in (doc purposes only), third is generated filename prefix
exit(gen.generate(PACKAGE, "libfreenect2_ros_grabber", "Params"))
